.footer {
  display: flex;
  padding: 1rem;
  justify-content: flex-end;
  background-color: #ffffff;
  box-shadow: rgb(201, 211, 223) 0px 1px 4px;

  .team {
    position: relative;
    padding-left: 20px;

    &::before {
      left: 0;
      content: "➜";
      position: absolute;
    }
  }
}
